{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Type</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>

        <tbody>
            {% for transaction in transaction_history %}
                <tr>
                    <td class="text-start">
                        {{ transaction.symbol if transaction.symbol else "N/A" }}
                    </td>
                    <td class="text-end">
                        {% if transaction.transaction_type == 'SELL' %}-{% endif %}{{ transaction.shares }}
                    </td>
                    <td class="text-end">{{ transaction.transaction_type }}</td>
                    <td class="text-end">{{ transaction.price_per_share }}</td>
                    <td class="text-end">{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
