{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>

        <tbody>
            {% for holding in portfolio %}
                <tr>
                    <td class="text-start">{{ holding.symbol }}</td>
                    <td class="text-end">{{ holding.shares }}</td>
                    <td class="text-end">{{ holding.price_per_share }}</td>
                    <td class="text-end">{{ holding.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-end pt-3">
        <h5>Cash: <span class="fw-normal">{{ balance }}</span></h5>
        <h4>Total: <span class="fw-bold">{{ total_value }}</span></h4>
    </div>

    <div class="mb-3 text-end">
        <a href="/withdraw" class="btn btn-primary me-3">Withdraw</a>
        <a href="/deposit" class="btn btn-primary">Deposit</a>
    </div>
{% endblock %}
